body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
#cl{
    color:orange;
}
.first{
    display:flex;
    margin-left: 100px ;
}
.half{
    width:50%;
}
.hireme{
   text-decoration: none;
   background-image:linear-gradient(orange,tomato);
   color:white;
   padding: 10px 30px;
   border-radius: 10px;
}
section{
    margin-top: 100px;
    display:flex;
}
#dash{
  width 50%;
  height: 60%;
  margin-left: 90px;
}
